body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:360px;
  height:648px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:58px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:31px;
  width:347px;
  height:58px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:28px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:60px;
  width:308px;
  height:28px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:29px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:58px;
  width:347px;
  height:29px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:637px;
  width:358px;
  height:40px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:90px;
  width:358px;
  height:548px;
  overflow:hidden;
}
#u49_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:548px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:548px;
  overflow:hidden;
}
#u50_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:548px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u50_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:3491px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:3491px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:36px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:475px;
  width:261px;
  height:36px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:36px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:550px;
  width:261px;
  height:36px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:51px;
  width:359px;
  height:170px;
  font-size:16px;
  text-align:left;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:355px;
  word-wrap:break-word;
}
